
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
        url: jdbc:mysql://192.168.1.6:3306/statistics?allowMultiQueries=true&useUnicode=true&characterEncoding=UTF-8&useSSL=false
        username: leomaster
        password: leomastermysql
        driver-class-name: com.mysql.jdbc.Driver
        initial-size: 10
        max-active: 100
        min-idle: 10
        max-wait: 60000
        pool-prepared-statements: true
        max-pool-prepared-statement-per-connection-size: 20
        time-between-eviction-runs-millis: 60000
        min-evictable-idle-time-millis: 300000
        test-while-idle: true
        test-on-borrow: false
        test-on-return: false
        stat-view-servlet:
          enabled: true
          url-pattern: /druid/*
          #login-username: admin
          #login-password: admin
        filter:
          stat:
            log-slow-sql: true
            slow-sql-millis: 1000
            merge-sql: false
          wall:
            config:
              multi-statement-allow: true



  rabbitmq:
    host: mq1.taurus.pub
    port: 5672
    username: dev1
    password: c6dlxycbx18im9qyewg3xlsu1ohs8354
    listener:
      simple:
        acknowledge-mode: manual
        max-concurrency: 20
    virtual-host: /devhost




